<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.2</string>
	<key>CFBundleDisplayName</key>
	<string>My Expenses</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.myexpenses</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x.png</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleBlack</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
</dict>
</plist>
